.vs/*
ORM/bin/*
ORM/obj/*
RunnableProjectForTesting/bin/*
RunnableProjectForTesting/obj/*
UnitTests/bin/*
UnitTests/obj/*
Interfaces/bin/*
Interfaces/obj/*
.vscode/
IntegrationTests/obj/Debug/netcoreapp2.1/IntegrationTests.pdb
IntegrationTests/obj/Debug/netcoreapp2.1/IntegrationTests.dll
IntegrationTests/obj/Debug/netcoreapp2.1/IntegrationTests.csproj.FileListAbsolute.txt
IntegrationTests/obj/Debug/netcoreapp2.1/IntegrationTests.csproj.CopyComplete
IntegrationTests/bin/Debug/netcoreapp2.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
IntegrationTests/bin/Debug/netcoreapp2.1/xunit.runner.utility.netcoreapp10.dll
IntegrationTests/bin/Debug/netcoreapp2.1/xunit.runner.reporters.netcoreapp10.dll
IntegrationTests/bin/Debug/netcoreapp2.1/ORM.pdb
IntegrationTests/bin/Debug/netcoreapp2.1/ORM.dll
IntegrationTests/bin/Debug/netcoreapp2.1/Interfaces.pdb
IntegrationTests/bin/Debug/netcoreapp2.1/Interfaces.dll
IntegrationTests/bin/Debug/netcoreapp2.1/IntegrationTests.runtimeconfig.json
IntegrationTests/bin/Debug/netcoreapp2.1/IntegrationTests.runtimeconfig.dev.json
IntegrationTests/bin/Debug/netcoreapp2.1/IntegrationTests.pdb
IntegrationTests/bin/Debug/netcoreapp2.1/IntegrationTests.dll
IntegrationTests/bin/Debug/netcoreapp2.1/IntegrationTests.deps.json
